kind: Template
apiVersion: template.openshift.io/v1
parameters:
  - name: IKE_DOCKER_REGISTRY
    required: true
    value: docker.io
  - name: IKE_DOCKER_REPOSITORY
    required: true
    value: aslakknutsen
  - name: IKE_IMAGE_NAME
    required: true
    value: istio-workspace
  - name: IKE_IMAGE_TAG
    required: true
    value: latest
  - name: TELEPRESENCE_VERSION
    required: true
    value: "0.99"
objects:
  - kind: Deployment
    apiVersion: apps/v1
    metadata:
      name: istio-workspace
    spec:
      replicas: 1
      selector:
        matchLabels:
          name: istio-workspace
      template:
        metadata:
          labels:
            name: istio-workspace
        spec:
          serviceAccountName: istio-workspace
          containers:
            - name: istio-workspace
              image: ${IKE_DOCKER_REGISTRY}/${IKE_DOCKER_REPOSITORY}/${IKE_IMAGE_NAME}:${IKE_IMAGE_TAG}
              command:
                - ike
              args:
                - serve
              imagePullPolicy: Always
              env:
                - name: WATCH_NAMESPACE
                  value: ""
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: "istio-workspace"
                - name: TELEPRESENCE_VERSION
                  value: "${TELEPRESENCE_VERSION}"
