version: 2.1
orbs:
  ike: bartoszmajsak/ike@dev:master
jobs:
  build:
    working_directory: /go/src/github.com/aslakknutsen/istio-workspace
    docker:
      - image: circleci/golang:1.12
    steps:
      - checkout
      - run: make tools
      - run: make
  e2e_tests:
    working_directory: ~/.go_workspace/src/github.com/aslakknutsen/istio-workspace
    machine:
      image: circleci/classic:201808-01
    steps:
      - ike/docker_insecure_registry
      - run: sudo cat /etc/docker/daemon.json
      - ike/install_maistra
      - ike/install_telepresence
      - ike/update_golang
      - checkout
      - run: oc cluster status
#      - run: make tools deps
#      - run: make test-e2e

workflows:
  version: 2
  circleci_build:
    jobs:
      - build
  circleci_e2e_tests:
    jobs:
      - e2e_tests