version: 2.1
orbs:
  ike: bartoszmajsak/ike@0.0.3
jobs:
  build:
    working_directory: /go/src/github.com/aslakknutsen/istio-workspace
    docker:
      - image: circleci/golang:1.12.4
    steps:
      - checkout
      - run: make tools
      - run: make
  e2e_tests:
    working_directory: ~/.go_workspace/src/github.com/aslakknutsen/istio-workspace
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - ike/docker_insecure_registry
      - ike/update_golang:
          version: 1.12.4
      - ike/install_telepresence
      - ike/install_maistra:
          version: v3.11.0+maistra-0.9.0
      - run: make tools deps compile test-e2e

workflows:
  version: 2.1
  circleci_build:
    jobs:
      - build
  circleci_e2e_tests:
    jobs:
      - e2e_tests
