version: 2.1
orbs:
  ike: aslakknutsen/ike@0.0.2
jobs:
  build:
    working_directory: /go/src/github.com/aslakknutsen/istio-workspace
    docker:
      - image: circleci/golang:1.12
    steps:
      - checkout
      - run: make tools
      - run: make
  e2e_tests:
    working_directory: ~/.go_workspace/src/github.com/aslakknutsen/istio-workspace
    machine:
      image: circleci/classic:201808-01
    steps:
      - checkout
      - ike/docker_insecure_registry
      - ike/update_golang
      - ike/install_telepresence
      - ike/install_maistra
      - run: make tools deps compile test-e2e

workflows:
  version: 2.1
  circleci_build:
    jobs:
      - build
  circleci_e2e_tests:
    jobs:
      - e2e_tests
