version: 2.1

defaults:
  env-vars: &env-vars
    GOPATH: /home/circleci/.go_workspace
    IKE_E2E_KEEP_NS: "false"
    IKE_E2E_MANAGE_CLUSTER: "false"
    IKE_LOG_DEBUG: "true"
    BUILD_CACHE_FOLDER: ".circleci/cache"
    MICROK8S_SNAP_VERSION: "1.22/stable"
    GOLANG_SNAP_VERSION: "1.16/stable"
  golang-install: &golang-install
    name: "Install latest Golang"
    command: |
      ## Requires snap caching to be also used in the job
      cd ~/.snaps
      sudo snap ack golang.assert
      sudo snap install golang.snap --classic

      echo "export GOROOT=/snap/go/current" >> $BASH_ENV
      ## cleaning up path: remove pre-installed golang version
      sudo rm -rf /usr/local/go
  node-install: &node-install
    name: "Install Node"
    command: |
      nvm install 10
      nvm use 10
  merge-junit-reports: &merge-junit-reports
    name: "Merges ginkgo junit test results"
    command: |
      sudo npm install -g junit-report-merger
      mkdir -p ./test-results/
      jrm ./test-results/junit-report-combined.xml $(find . -type f -name ginkgo-test-results.xml)
  docker:
    - image: &golang-img cimg/go:1.16.5-node
  machine-conf: &machine-conf
    image: ubuntu-2004:202101-01
  skip-e2e-check: &skip-e2e-check
    name: "Check for /skip-e2e directive"
    command: |
      COMMIT_MSG=$(git log --format=%B -n 1 $CIRCLE_SHA1)
      if [[ $COMMIT_MSG == *"/skip-e2e"* ]]; then
        echo "/skip-e2e directive detected. Explictly stopping e2e tests."
        circleci step halt
      fi
  skip-build-check: &skip-build-check
    name: "Check for /skip-build directive"
    command: |
      COMMIT_MSG=$(git log --format=%B -n 1 $CIRCLE_SHA1)
      if [[ $COMMIT_MSG == *"/skip-build"* ]]; then
        echo "/skip-build directive detected. Explictly stopping build."
        circleci step halt
      fi
  check-if-build-executed: &check-if-build-executed
    name: "Check if build with this content was already executed"
    command: |
      if [[ -f ${BUILD_CACHE_FOLDER}/${CIRCLE_JOB}.githash ]]; then
        echo "This exact code base has been successfully built"
        circleci step halt
      else
        echo "New build - if succeeds build git hash will be cached"
        echo "${TREE_SHA1}" > ${BUILD_CACHE_FOLDER}/${CIRCLE_JOB}.githash
      fi
  obtain-tree-hash: &obtain-tree-hash
    name: "Obtain git tree hash"
    command: |
      mkdir -p ${BUILD_CACHE_FOLDER}
      export TREE_SHA1=$(git rev-parse HEAD:)
      echo "export TREE_SHA1=${TREE_SHA1}" >> $BASH_ENV
      echo ${TREE_SHA1} > /tmp/tree.sha1
  restore-tree-hash: &restore-tree-hash
      keys:
        - job-{{ .Environment.CIRCLE_JOB }}-cache-{{ checksum "/tmp/tree.sha1" }} # workaround for https://discuss.circleci.com/t/cannot-use-circle-yml-environment-variables-in-cache-keys/10994/20
  save-tree-hash: &save-tree-hash
    key: job-{{ .Environment.CIRCLE_JOB }}-cache-{{ checksum "/tmp/tree.sha1" }}
    paths:
    - ./.circleci/cache # Can't use env variable here - needs to be explicit value
  save-snaps: &save-snaps
    key: snap-cache-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/snaps_version" }}
    paths:
      - ~/.snaps
  restore-snaps: &restore-snaps
    keys:
      - snap-cache-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/snaps_version" }}

jobs:

  ## Regular build running tests
  build:
    docker:
      - image: *golang-img
    environment:
      BUILD_CACHE_FOLDER: ".circleci/cache"
    steps:
      - checkout
      - run:
          <<: *skip-build-check
      - run:
          << : *obtain-tree-hash
      - restore_cache:
          << : *restore-tree-hash
      - run:
          << : *check-if-build-executed
      - restore_cache:
          keys:
            - golang-deps-{{ .Environment.CIRCLE_JOB }}-cache-{{ checksum "go.sum" }}
      - run:
          name: "Run the build"
          command: make build-ci
      - run:
          when: always
          <<: *merge-junit-reports
      - store_test_results:
          path: ./test-results
      - save_cache:
          key: golang-deps-{{ .Environment.CIRCLE_JOB }}-cache-{{ checksum "go.sum" }}
          paths:
            - ./vendor
      - save_cache:
          << : *save-tree-hash

  ## End-to-end testing using single-node microk8s cluster
  e2e_tests_microk8s:
    working_directory: ~/.go_workspace/src/github.com/maistra/istio-workspace
    machine:
      <<: *machine-conf
    environment:
      <<: *env-vars
    steps:
      - checkout
      - run:
          <<: *obtain-tree-hash
      - restore_cache:
          <<: *restore-tree-hash
      - run:
          <<: *check-if-build-executed
      - run:
          <<: *skip-e2e-check
      - restore_cache:
          keys:
            - golang-deps-{{ .Environment.CIRCLE_JOB }}-cache-{{ checksum "go.sum" }}
      - run:
          name: "Calculate snap cache key"
          command: |
            ## Set CACHE_VERSION to any value to force cache reload
            echo "go-${CACHE_VERSION}-$(echo "${GOLANG_SNAP_VERSION}" | cut -d '/' -f 1 )-microk8s-$(echo "${MICROK8S_SNAP_VERSION}" | cut -d '/' -f 1 )" > /tmp/snaps_version
      - restore_cache:
          <<: *restore-snaps
      - run:
          name: "Downloading snaps (if not restored)"
          command: |
            cd ~
            if [[ ! -d .snaps ]]; then
                mkdir -p .snaps
                cd .snaps
                snap download microk8s --channel ${MICROK8S_SNAP_VERSION} --basename microk8s
                snap download core --channel stable --basename core
                snap download go --channel ${GOLANG_SNAP_VERSION} --basename golang
            fi
      - run:
          <<: *golang-install
      - run:
          name: "Install Telepresence"
          command: |
            cd ~
            pyenv global 3.9.1
            curl -s https://packagecloud.io/install/repositories/datawireio/telepresence/script.deb.sh | sudo bash
            sudo apt install --no-install-recommends telepresence
            telepresence --version
      - run:
          name: "Sets up Quay.io"
          command: |
            mkdir -p ~/.docker && chmod 0700 ~/.docker
            touch ~/.docker/config.json && chmod 0600 ~/.docker/config.json
            echo $QUAY_AUTH_JSON > ~/.docker/config.json
            docker login quay.io
      - run:
          name: "Install official kubectl"
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.20.5/bin/linux/amd64/kubectl
            chmod +x kubectl && sudo mv kubectl /usr/local/bin/
            echo "Installed kubectl\n$(kubectl version)\n"
      - run:
          name: "Install Microk8s"
          command: |
            cd ~/.snaps
            sudo snap ack core.assert
            sudo snap install core.snap
            sudo snap ack microk8s.assert
            sudo snap install microk8s.snap --classic
      - save_cache:
          <<: *save-snaps
      - run:
          name: "Launch Microk8s"
          command: |
            sudo microk8s.kubectl config view --raw > /tmp/kubeconfig
            export KUBECONFIG=/tmp/kubeconfig

            # wait until a k8s node is ready
            sleep 10
            n=0
            until [ $n -ge 10 ]
            do
              (kubectl get no | grep -z "Ready") && break
              n=$[$n+1]
              sleep 20
            done
            echo "Kubernetes cluster launched"

            # Allow intra-pod communication
            sudo iptables -P FORWARD ACCEPT

            echo n | sudo microk8s.enable dns registry istio rbac

            # wait until the registry is up and running
            sleep 10
            n=0
            until [ $n -ge 10 ]
            do
              (kubectl get pod --namespace=container-registry | grep -z "Running") && break
              n=$[$n+1]
              sleep 10
            done
            echo "Kubernetes Container Registry enabled"

            # wait until istio is up and running
            sleep 10
            n=0
            until [ $n -ge 10 ]
            do
              (kubectl get pod -l istio=sidecar-injector --namespace=istio-system | grep -z "Running") && break
              n=$[$n+1]
              sleep 10
            done
            echo "Istio enabled"

            echo "Installing tekton"
            kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.27.2/release.yaml
            sleep 10
            n=0
            until [ $n -ge 10 ]
            do
              (kubectl get pods --namespace tekton-pipelines | grep -z "Running") && break
              n=$[$n+1]
              sleep 10
            done
            echo "Tekton installed"
      - run:
          name: "Runs end-to-end tests"
          command: |
            sudo microk8s.kubectl config view --raw > /tmp/kubeconfig

            export KUBECONFIG=/tmp/kubeconfig \
              IKE_CLUSTER_HOST=localhost \
              IKE_ISTIO_INGRESS=http://localhost:31380 \
              PRE_BUILT_IMAGES=true \
              IKE_INTERNAL_DOCKER_REGISTRY=quay.io \
              IKE_EXTERNAL_DOCKER_REGISTRY=quay.io \
              IKE_DOCKER_REPOSITORY=maistra-dev

            if [ -z ${CIRCLE_PULL_REQUEST+x} ]; then
              export IKE_IMAGE_TAG="${CIRCLE_BRANCH##*/}"
            else
              export IKE_IMAGE_TAG="pr-${CIRCLE_PULL_REQUEST##*/}-circle"
            fi

            make deps tools

            ./bin/operator-sdk olm install --version v0.18.2

            make docker-build docker-push
            make docker-build-test docker-push-test
            IKE_TEST_PREPARED_NAME="prepared-image" make docker-build-test-prepared docker-push-test-prepared
            IKE_TEST_PREPARED_NAME="image-prepared" make docker-build-test-prepared docker-push-test-prepared
            make bundle bundle-build bundle-push

            make test-e2e
      - run:
          when: always
          name: "Installs node using snap"
          command: |
            sudo snap install node --classic
      - run:
          when: always
          <<: *merge-junit-reports
      - store_test_results:
          path: ./test-results
      - save_cache:
          key: golang-deps-{{ .Environment.CIRCLE_JOB }}-cache-{{ checksum "go.sum" }}
          paths:
            - ./vendor
      - save_cache:
          <<: *save-tree-hash

  release:
    working_directory: ~/.go_workspace/src/github.com/maistra/istio-workspace
    machine:
      <<: *machine-conf
    environment:
      <<: *env-vars
    steps:
      - checkout
      - run:
          name: "Calculate snap cache key"
          command: |
            ## Set CACHE_VERSION to any value to force cache reload
            echo "go-${CACHE_VERSION}-$(echo "${GOLANG_SNAP_VERSION}" | cut -d '/' -f 1 )" > /tmp/snaps_version
      - restore_cache:
          <<: *restore-snaps
      - run:
          name: "Downloading snaps (if not restored)"
          command: |
            cd ~
            if [[ ! -d .snaps ]]; then
                mkdir -p .snaps
                cd .snaps
                snap download go --channel ${GOLANG_SNAP_VERSION} --basename golang
            fi
      - save_cache:
          <<: *save-snaps
      - run:
          <<: *golang-install
      - run:
          <<: *node-install
      - run:
          name: "Install release tools prerequisites"
          command: |
            nvm use 10
            npm i -g asciidoctor @asciidoctor/core @asciidoctor/docbook-converter

            export PANDOC_VERSION=2.11.4
            cd ~
            wget "https://github.com/jgm/pandoc/releases/download/${PANDOC_VERSION}/pandoc-${PANDOC_VERSION}-linux-amd64.tar.gz" -O "pandoc.tar.gz"
            tar xzfv pandoc.tar.gz
            sudo mv $PWD/pandoc-${PANDOC_VERSION}/bin/pandoc /usr/local/bin/
      - run:
          name: "Sets up Quay.io"
          command: |
            mkdir -p ~/.docker && chmod 0700 ~/.docker
            touch ~/.docker/config.json && chmod 0600 ~/.docker/config.json
            echo $QUAY_RELEASE_AUTH_JSON > ~/.docker/config.json
            docker login quay.io
      - run:
          name: "Sets up Git credentials"
          command: |
            git config --global user.name "${GIT_USER}"
            git config --global user.email "${GIT_EMAIL}"
      - run:
          name: "Configures PGP for signing commits in Git"
          command: |
            export GPG_PROGRAM="/usr/bin/gpg-passphrase"
            sudo touch "${GPG_PROGRAM}"
            sudo chown $(whoami) "${GPG_PROGRAM}"

            chmod +x "${GPG_PROGRAM}"
            echo '/usr/bin/gpg --passphrase "${PGP_PASSPHRASE}"  --pinentry-mode loopback --batch --no-tty "$@"' > "${GPG_PROGRAM}"

            echo -e $PGP_KEY | gpg --import --pinentry-mode loopback --batch --no-tty
            git config --global user.signingkey "${PGP_KEYID}"
            git config --global gpg.program "${GPG_PROGRAM}"
      - run:
          <<: *obtain-tree-hash
      - restore_cache:
          <<: *restore-tree-hash
      - run:
          name: "Release images!"
          command: |
            make deps tools docker-build docker-push-versioned bundle bundle-build bundle-push
      - run:
          name: "Release client!"
          command: |
            if [[ -f ${BUILD_CACHE_FOLDER}/release-client.githash ]]; then
              echo "This exact code base has been successfully pushed"
            else
              echo "New build - if succeeds subsequent run will be skipped."

              nvm use 10
              asciidoctor --require @asciidoctor/docbook-converter -a leveloffset=+1 --backend docbook  -o - docs/modules/ROOT/pages/release_notes/${CIRCLE_TAG}.adoc |  pandoc --wrap=preserve --from docbook --to gfm - 1> converted-release-notes.md
              curl -sL https://git.io/goreleaser | bash -s -- release ${GORELEASER_OPTS} --rm-dist --release-notes=converted-release-notes.md

              echo "${TREE_SHA1}" > ${BUILD_CACHE_FOLDER}/release-client.githash
            fi
      - run:
          name: "Publish Operator Hub Catalog!"
          command: |
            if [[ -f ${BUILD_CACHE_FOLDER}/operatorhub.githash ]]; then
              echo "This exact code base has been successfully pushed"
            else
              echo "New build - if succeeds subsequent run will be skipped."

              OPERATOR_HUB="upstream-community-operators" make bundle-publish
              OPERATOR_HUB="community-operators" make bundle-publish

              echo "${TREE_SHA1}" > ${BUILD_CACHE_FOLDER}/operatorhub.githash
            fi
      - run:
          name: "Publish Tekton Hub Catalog!"
          command: |
            if [[ -f ${BUILD_CACHE_FOLDER}/tektonhub.githash ]]; then
              echo "This exact code base has been successfully pushed"
            else
              echo "New build - if succeeds subsequent run will be skipped."

              nvm use 10
              make tekton-publish

              echo "${TREE_SHA1}" > ${BUILD_CACHE_FOLDER}/tektonhub.githash
            fi
      - save_cache:
          <<: *save-tree-hash
          when: always

workflows:
  version: 2.1
  circleci_build:
    jobs:
      - build
  circleci_e2e_tests:
    jobs:
      - e2e_tests_microk8s
  circleci_release:
    jobs:
      - release:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
