name: linters
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    env:
      REPOSITORY: ${{ github.repository }}
    steps:
      - name: Set up Go 1.15.5
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.5
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          path: go/src/github.com/${{ env.REPOSITORY }}
      - name: Set $GOPATH
        run: |
          echo "GOPATH=${{ github.workspace }}/go" >> $GITHUB_ENV
          echo "${{ github.workspace }}/go/bin" >> $GITHUB_PATH
        shell: bash
      - name: Prepare codebase for linter (generates deps, stubs)
        run: |
          cd go/src/github.com/${{ env.REPOSITORY }}
          make lint-prepare
        shell: bash
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.4.0
        with:
          version: v1.28
          working-directory: go/src/github.com/${{ env.REPOSITORY }}
